$dark-blue: #1c2026;
$accent: #e0575c;
$textDesk: #939393;
$textAbout: #33ff9f;

// Brwakpoints:
$break-small: 600px;
$break-medium: 960px - 1px;

// $btn-font-sizes:

// $body-font-family: SofiaPro, Roboto;
